@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-body text-navy-900 bg-white antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }

  .glass-panel-dark {
    @apply bg-navy-950/40 backdrop-blur-md border border-white/10;
  }

  .btn-primary {
    @apply bg-amber-500 text-navy-950 font-bold px-6 py-3 rounded hover:bg-amber-400 transition-colors shadow-lg hover:shadow-xl hover:-translate-y-0.5 active:translate-y-0;
  }
}

/* Animations */
.pause-animation:hover {
  animation-play-state: paused;
}

/* Scrollbar Hide Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}